$font-family:                 'Roboto', sans-serif;

$charcoal-grey:               #4d4d4d;
$warm-grey:                   #757575;
$warm-grey-two:               #999999;
$warm-grey-three:             #7d7d7d;
$white-four:                  #d6d5d5;
$white-five:                  #dddddd;
$white:                       #eee;
$white-two:                   #fff;
$azure:                       #2196f3;
$warm-pink:                   #ff3e81;

$font-size-small:             13px;
$font-size-middle:            15px;
$font-size-middle2:           16px;
$font-size-big:               21px;
$font-size-bigger:            24px;
$font-size-large:             35px;

$border-radius:               2px;

$shadow:                      0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);


